:root {
  --action-btns-width: 90px;
}

.actions_desktop {
  display: none;
}

.actions_desktop svg {
  width: 25px;
  height: 25px;
  fill: var(--color-white);
}

.btn__avatar_icon {
  position: relative;
} 

.shopping_cart_icon {
  transform: scaleX(-1);
  cursor: pointer;
}

.account_dropdown_content a {
  color: var(--color-black);
  padding: var(--spacing-base);
  text-decoration: none;
  display: block;
}

.account_dropdown_content a:hover {
  border-radius: 10px;
}

.account_dropdown_content {
  display: none;
  border-radius: 10px;
}

.account_dropdown:hover .account_dropdown_content {
  display: block;
  position: absolute;
  top: 50px;
  right: 15px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-7);
  z-index: 10;
}

@media (min-width: 768px) {
  .actions_desktop {
    display: flex;
    width: var(--action-btns-width);
    justify-content: space-between;
    margin: 0 var(--spacing-large);
  }
}