form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo__form {
  display: none;
}

.userPayment__form {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
