.header {
  position: relative;
  width: 100%;
  padding: var(--spacing-base) 0;
  background: var(--color-base);
}

.menu_container {
  display: flex;
  justify-content: space-between;
}

.menu_container__inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu_btn {
  position: relative;
  width: 28px;
  height: 20px;
  margin: var(--spacing-base);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.9s ease-in-out;
}

.menu_btn__burger {
  position: absolute;
  left: 0;
  top: var(--spacing-base);
  width: 28px;
  height: 3px;
  border-radius: 30px;
  background: var(--color-white);
  transition: all 0.9s ease-in-out;
}

.menu_btn__burger::before {
  content: '';
  position: absolute;
  top: calc(var(--spacing-base) * -1);
  width: 28px;
  height: 3px;
  border-radius: 30px;
  background: var(--color-white);
  transition: all 0.9s ease-in-out;
}

.menu_btn__burger::after {
  content: '';
  position: absolute;
  top: var(--spacing-base);
  width: 28px;
  height: 3px;
  border-radius: 30px;
  background: var(--color-white);
  transition: all 0.9s ease-in-out;
}

.menu_btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu_btn__burger.open::before {
  transform: rotate(45deg) translate(5px, var(--spacing-base));
}

.menu_btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 57px;
  left: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu_nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: var(--color-white);
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav.open {
  transform: translateY(0);
}

.nav .menu_nav__item {
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav__item.open {
  transform: translateX(0);
}

.nav .menu_nav__item.active > a {
  color: #ff652f;
}

.nav .menu_nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.nav .menu_nav__link:hover {
  color: #ff652f;
}

.actions {
  display: flex;
  align-items: center;
  margin: var(--spacing-base);
}

.loupe_icon {
  padding-top: calc(var(--spacing-base) * 0.6);
  padding-right: calc(var(--spacing-base) + 15%);
}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
  .menu_container {
    display: none;
  }

  .nav {
    position: static;
    top: 0;
    visibility: visible;
  }

  .nav .menu_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: transparent;
    padding: 0;
    transform: translateY(0);
    height: 100%;
  }

  .nav .menu_nav__item {
    transform: translateX(0);
  }

  .nav .menu_nav__link {
    display: flex;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
  }

  .menu_nav__item:not(:first-child)::after {
    content: '';
    position: absolute;
    top: 0;
    left: -3.5rem;
    width: 1.5px;
    height: 1.5rem;
    margin: 0.3% 1.2% 0;
    background: var(--color-white);
    transform: rotate(20deg);
  }
}

@media (min-width: 990px) {
}

@media (min-width: 1400px) {
}
